<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>searcresult</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Article-List.css">
    <link rel="stylesheet" href="/assets/css/Features-Blue.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/assets/css/Features-Clean.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">MyNews</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <form class="form-inline" action="/searchresult" method="GET"><input class="form-control" name="keyword" type="text"><button class="btn btn-primary" type="submit">Search</button></form><span class="navbar-text actions"><%if(!currentUser){ %> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/signup">Sign Up</a>
                                <%}else{ %> 
                        <a class="login" href="/home"> <%=currentUser.username%></a>

                    <a class="btn btn-light action-button" role="button" href="/logout">Logout</a>
                    <%}%>
                </span></div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md bg-secondary navigation-clean" style="padding: 0px;">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="text-align: center;">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/sports" style="color: rgb(255,255,255);">Sports</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/politics" style="color: rgb(255,255,255);">Politics</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/national" style="color: rgb(255,255,255);">National</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/world" style="color: rgb(255,255,255);">World</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/business" style="color: rgb(255,255,255);">Business</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/science" style="color: rgb(255,255,255);">Science</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/category/technology" style="color: rgb(255,255,255);">Technology</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section></section>
