<%- include('./partials/header.ejs') %>
    <div class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"></h2>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name">Works everywhere</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name">Always available</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name">Customizable</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name">Organic</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name">Fast</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <h3 class="name">Mobile-first</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Sports</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="btn-group" role="group" style="text-align: center;margin-left: 41%;"><button class="btn btn-primary" type="button">&nbsp;The Hindu</button><button class="btn btn-primary" type="button">Jagran</button></div>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name"><strong>Bairstow loses Test central contract&nbsp;</strong></h3>
                    <p class="description">Wicketkeeper-batsman Jonny Bairstow is not offered an England central contract for Test cricket, though he retains a limited-overs deal.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name"><strong>Liverpool news conference &amp; transfers latest</strong></h3>
                    <p class="description">Liverpool assistant manager Pep Lijnders and Tottenham boss Jose Mourinho hold news conferences before their games, plus all the latest transfer news.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name"><strong>French Open order of play &amp; live scores&nbsp;</strong></h3>
                    <p class="description">French Open order of play &amp; live scores </p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Organic</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Fast</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Mobile-first</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="features-boxed" style="background-color: rgb(62,184,237);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Featured</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Always available</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Customizable </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Organic </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Fast </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Mobile-first</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Politics</h2>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name"><strong>Bairstow loses Test central contract&nbsp;</strong></h3>
                    <p class="description">Wicketkeeper-batsman Jonny Bairstow is not offered an England central contract for Test cricket, though he retains a limited-overs deal.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name"><strong>Liverpool news conference &amp; transfers latest</strong></h3>
                    <p class="description">Liverpool assistant manager Pep Lijnders and Tottenham boss Jose Mourinho hold news conferences before their games, plus all the latest transfer news.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name"><strong>French Open order of play &amp; live scores&nbsp;</strong></h3>
                    <p class="description">French Open order of play &amp; live scores </p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Organic</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Fast</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item">
                    <h3 class="name">Mobile-first</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="newsletter-subscribe" style="background-color: rgb(169,169,169);color: rgb(31,31,31);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Subscribe for our Newsletter</h2>
                <p class="text-center" style="border-color: rgb(255,255,255);color: rgb(30,30,30);">Get all your daily dose right in your Inbox.</p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
            </form>
        </div>
    </div> -->
<%- include('./partials/footer.ejs') %>
